
body
{
    margin: 0;
    background-color: #8ac2e1;
}
@media screen and (max-width: 480px){
    body{
        background-color: green;
    }
    }
header
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 368px;
    background-image: url(../IMG/header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
h1
{
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 3em; 
}
nav
{
    width: 100%;
}
ul
{
    display: flex;
    justify-content: space-evenly center;
    align-items: center;
    list-style-type: none;
    padding-left: 0;
}
li
{
    padding: 10px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 1em;
    font-weight: bold;
    border: thick double #c2a990;
    border-radius: 10px;
}
li:hover
{
    background-color: #449ac9;
}
.menu
{
    background-color: green;
}
a
{
    text-decoration: none;
    color: black;
}
form
{
    align-items: center;
}
.home
{
    padding: 50px;
    background-color: #c2a990;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 1em;
}
.bloc
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    height: 400px;
    width: 100%;
}
.bloc1
{
    background-color: #e5cdb5;
    height: 90%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 8px;
}
.bloc2
{
    background-color: #e5cdb5;
    height: 90%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 8px;
}
.bloc3
{
    background-color: #e5cdb5;
    height: 90%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 8px;
}
.bloc1:hover
{
    background-color: #c2a990 ;
}
.bloc2:hover
{
    background-color: #c2a990 ;
}
.bloc3:hover
{
    background-color: #c2a990 ;
}
.image1
{
    background-image: url(../IMG/tokyo.jpg);
    background-size: cover;
    height: 50%;
    width: 90%;
}
.image2
{
    background-image: url(../IMG/edimbourg.jpg);
    background-size: cover;
    height: 50%;
    width: 90%;
}
.image3
{
    background-image: url(../IMG/quebec.jpg);
    background-size: cover;
    background-position: center;
    height: 50%;
    width: 90%;
}
.titleP
{
    background-color:white;
    height: 10%;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 1em;
}
.description
{
    background-color:white;
    height: 30%;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 0.9em;
    margin: 10px;
    padding: 3px;
}