body
{
    margin: 0;
}
header
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-image: url(../IMG/header.jpg);
    background-size: cover
}
h1
{
    
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 3em; 
}
nav
{
    width: 100%;
    height: 50px;
    display: flex;
    display: inline;
    flex-wrap: wrap;

}
ul
{
    list-style-type: none;
    padding-left: 0;
}
li
{
    display: inline-block;
    height: 30px;
    padding: 10px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 1em;
    background-color: #8ac2e1;
}
form
{
    align-items: center;
}
.home
{
    padding: 50px;
    background-color: #c2a990;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 1em;
}
.bloc
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    height: 400px;
    width: 100%;
}
.bloc1
{
    background-color: blueviolet;
    height: 90%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 8px;
}
.bloc2
{
    background-color: green;
    height: 90%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 8px;
}
.bloc3
{
    background-color: mediumblue;
    height: 90%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 8px;
}
.image1
{
    background-image: url(../IMG/tokyo.jpg);
    background-size: cover;
    height: 50%;
    width: 90%;
}
.image2
{
    background-image: url(../IMG/edimbourg.jpg);
    background-size: cover;
    height: 50%;
    width: 90%;
}
.image3
{
    background-image: url(../IMG/quebec.jpg);
    background-size: cover;
    background-position: center;
    height: 50%;
    width: 90%;
}
.titleP
{
    background-color:white;
    height: 10%;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 1em;
}
.description
{
    background-color:white;
    height: 30%;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 0.9em;
    margin: 10px;
    padding: 3px;
}